/*
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.

*/

/******************************************************************************
 * 
 *                                  LOGIN 
 * 
 ******************************************************************************/
div.art-login-dialog{
    position: absolute;
    top: 30%;
    left:50%;
    width:500px;
}

div.art-login-head{
    background-image: url('../img/logo-acaua-head.png');
    width: 132px;
    height: 119px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
}

div.art-login-brazil{
    background-image: url('../img/logo-brazil-32x32.png');
    width: 32px;
    height: 32px;
    position: absolute;
    left: 10px;
    background-repeat: no-repeat;    
}

div.art-login-pernambuco
{
    background-image: url('../img/logo-pe-32x32.png');
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50px;
    background-repeat: no-repeat;    
}

div.art-login-lgpl{
    background-image: url('../img/logo-lgpl.png');
    width: 50px;
    height: 20px;
    position: absolute;
    left: 90px;
    bottom: 20px;
    background-repeat: no-repeat;    
}

table.art-login-form{
  position: absolute;
  right: 10%;
  top: 20%;
}

div.art-acaua-head{
    background-image: url('../img/logo-acaua-head.png');
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: 48px 48px;
    right: 100px;
    top: -4px;
    position: absolute
}

/******************************************************************************
 * 
 *                           DASHBOARD MANAGEMENT
 * 
 *****************************************************************************/
a.button{
    width: 92px;    
    height: 92px;
    font-size: 14px;
}

div.button-tickets{
    background-image: url('../img/tickets-48.png');
    background-repeat: no-repeat;
    width: 92px;
    height: 55px;
    background-position: center;
}

div.button-tickets-origin{
    background-image: url('../img/tickets-origin-48.png');
    background-repeat: no-repeat;
    width: 92px;
    height: 55px;
    background-position: center;   
}

div.button-tickets-categories{
    background-image: url('../img/tickets-categories-48.png');
    background-repeat: no-repeat;
    width: 92px;
    height: 55px;
    background-position: center;
}

div.button-service-catalog{
    background-image: url('../img/service-catalog-48.png');
    background-repeat: no-repeat;
    width: 92px;
    height: 55px;
    background-position: center;       
}

div.button-sla{
    background-image: url('../img/sla-48.png');
    background-repeat: no-repeat;
    width: 92px;
    height: 55px;
    background-position: center;       
}

div.button-service-status{
    background-image: url('../img/service-status-48.png');
    background-repeat: no-repeat;
    width: 92px;
    height: 55px;
    background-position: center;               
}

div.button-service-levels{
    background-image: url('../img/service-levels-48.png');
    background-repeat: no-repeat;
    width: 92px;
    height: 55px;
    background-position: center;               
}

div.button-sla-kinds{
    background-image: url('../img/sla-kinds-48.png');
    background-repeat: no-repeat;
    width: 92px;
    height: 55px;
    background-position: center;       
}

div.button-queues{
    background-image: url('../img/queues-48.png');
    background-repeat: no-repeat;
    width: 92px;
    height: 55px;
    background-position: center;       
}

div.button-priorities{
    background-image: url('../img/service-priorities-48.png');
    background-repeat: no-repeat;
    width: 92px;
    height: 55px;
    background-position: center;       
}

div.button-pri-matrix{
    background-image: url('../img/pri-matrix-48.png');
    background-repeat: no-repeat;
    width: 92px;
    height: 55px;
    background-position: center;       
}

div.button-agents{
    background-image: url('../img/agents-48.png');
    background-repeat: no-repeat;
    width: 92px;
    height: 55px;
    background-position: center;       
}

div.button-customers{
    background-image: url('../img/customer-48.png');
    background-repeat: no-repeat;
    width: 92px;
    height: 55px;
    background-position: center;       
}

div.button-customer-services{
    background-image: url('../img/customer-services-48.png');
    background-repeat: no-repeat;
    width: 92px;
    height: 55px;
    background-position: center;       
}

div.button-groups{
    background-image: url('../img/groups-48.png');
    background-repeat: no-repeat;
    width: 92px;
    height: 55px;
    background-position: center;       
}


div.button-compaines{
    background-image: url('../img/companies-48.png');
    background-repeat: no-repeat;
    width: 92px;
    height: 55px;
    background-position: center;       
}

