{% extends "aca_abshome.html" %}
{% load i18n %}
<!--
Acaua IT Manager is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Acaua IT Manager is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser 
General Public License for more details.

You should have received a copy of the GNU Lesser General Public License along 
with this program. If not, see <http://www.gnu.org/licenses/>.
-->

{%block custom-nav-style %}style="position:fixed; width: 100%; z-index:9999;"
{% endblock %}

{% block custom-navigation %}
    <ul class="nav pull-left">
        <li><a href="{% url "aca_dashboard" %}">{% trans "Dashboard" %}</a></li>
        <li><a href="{% url "aca_management" %}">{% trans "Management" %}</a></li>
        <li class="active"><a href="{% url "aca_reporting" %}">{% trans "Reporting" %}</a></li>
    </ul>                                       
{% endblock %}

{% block custom-body %}
    <div class="container-fluid" 
        style="position: relative; top: 60px; z-index: 0">
	    <div class="breadcrumb">
	        <li class="active">
	            <b>{% trans "You are here:" %}</b> 
	            <a href="{% url "aca_reporting" %}">{%trans "Reporting" %}</a>
	            <span class="divider">&gt;</span>               
	        </li>
	        {% block custom-reporting-breadcrumb %}
	            
	        {% endblock %}
	    </div>
    </div>
{% endblock %}

{% block custom-static %}
{% endblock %}
