{% extends "aca_management.html" %}
{% load i18n %}

<!--
Acaua IT Manager is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Acaua IT Manager is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser 
General Public License for more details.

You should have received a copy of the GNU Lesser General Public License along 
with this program. If not, see <http://www.gnu.org/licenses/>.
-->

{% block custom-management-breadcrumb %}
    <li class="active">
        <a href="{% url "aca_companies" %}">{%trans "Companies" %}</a>
        <span class="divider">&gt;</span>                               
    </li>
{% endblock %}

{% block custom-span12 %}
        <div id="grid-companies"></div>                 
{% endblock %}

{% block custom-static %}
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}flexigrid/css/flexigrid.css" />
    <script type="application/javascript" src="{{STATIC_URL}}js/flexigrid.js"></script>
    <script type="application/javascript" src="{{STATIC_URL}}js/companies-grid.js"></script>
{% endblock %}
