{% load i18n %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!--
	Acaua IT Manager is free software: you can redistribute it and/or modify
	it under the terms of the GNU Lesser General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	Acaua IT Manager is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser 
	General Public License for more details.
	
	You should have received a copy of the GNU Lesser General Public License along 
	with this program. If not, see <http://www.gnu.org/licenses/>.
    -->
    <title>Acauã IT Manager</title>
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/acaua.css"/>
    <script type="application/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
    <script type="application/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script type="application/javascript" src="{{STATIC_URL}}js/login.js"></script>
</head>
<body>
    <div class="modal art-login-dialog" id="loginWindow">
        <div class="modal-header navbar-inner">
        <h5 style="color: #fff">Acauã IT Manager - Login</h5>
    </div>
    <div class="modal-body">        
        <form action="." method="post">
            {% csrf_token %}
            <br />
            <br />
            <br />
            <br />
            <div class="art-login-head"></div>
            <table class="art-login-form">
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                </tr>
            </table>
            <input type="hidden" name="next" value="{{ next }}" />
        </row>
    </div>
    <div class="modal-footer">
       <div class="art-login-brazil"></div>
       <div class="art-login-pernambuco"></div>
       <div class="art-login-lgpl"></div>
       <button type="submit" class="btn">
            <i class="icon-ok-circle"></i>
            {%trans "Login" %}
       </button>
  </div>
 </form>             
</div>
    {% if form.errors %}
        <div class="alert alert-block alert-error fade in">
            <a class="close" data-dismiss="alert" href="#">&times;</a>   
            <ul>
            {% for error in form.non_field_errors %}
                <li>{{error}}</li>
            </ul>
            {% empty %}
                <ul>
                    <li>{% trans "Please, fill your user data to login"%}</li>
                </ul>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>