{% load i18n %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--
    Acaua IT Manager is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    Acaua IT Manager is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser 
    General Public License for more details.
    
    You should have received a copy of the GNU Lesser General Public License along 
    with this program. If not, see <http://www.gnu.org/licenses/>.
    -->
    <title>Acauã IT Manager - ITIL Open Source Initiative</title>
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/acaua.css"/>    
    <script type="application/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
</head>
<body>
    <div class="navbar" {%block custom-nav-style %}{% endblock %}>
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">
                    Acauã IT Manager - {{VERSION}}
                </a>
                {% block custom-navigation %}
	                <ul class="nav pull-left">
	                    <li class="active"><a href="{% url "aca_dashboard" %}">{% trans "Dashboard" %}</a></li>
	                    <li><a href="{% url "aca_management" %}">{% trans "Management" %}</a></li>
	                    <li><a href="{% url "aca_reporting" %}">{% trans "Reporting" %}</a></li>
	                </ul>                                   
                {% endblock %}
                <ul class="nav pull-right">             
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user icon-white"></i>
                            {{ CURRENT_USER.username }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="icon-info-sign"></i>
                                    {% trans "About this Project" %}
                                </a>
                            </li>
                            {% if CURRENT_USER.is_superuser %}
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="icon-wrench"></i>
                                    {% trans "System Configuration" %}
                                </a>
                            </li>                                
                            {% endif %}
                            <li>
                                <a href="/logout/">
                                    <i class="icon-off"></i>
                                    {% trans "Logout" %}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>	
	{% block custom-body %} 
	{% endblock %}
</body>
    <script type="application/javascript" src="{{STATIC_URL}}js/jquery.timer.js"></script>
    <script type="application/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script type="application/javascript" src="{{STATIC_URL}}js/acaua.js"></script>
    {% block custom-static %}
        
    {% endblock %}
</html>