{% extends "aca_abshome.html" %}
{% load i18n %}
<!--
Acaua IT Manager is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Acaua IT Manager is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser 
General Public License for more details.

You should have received a copy of the GNU Lesser General Public License along 
with this program. If not, see <http://www.gnu.org/licenses/>.
-->

{% block custom-body %}
    <div class="container-fluid">
    	<div class="row-fluid">
    		<div class="span3">
                <div class="accordion" id="menu">
                    <div class="accordion-group">
					    <div class="accordion-heading" style="background-color: #E6E6E6">
					      <a class="accordion-toggle" data-toggle="collapse" 
					      data-parent="#menu" href="#collapseOne">
					        {% trans "Create a new Ticket"%}
					      </a>
					    </div>
					    <div id="collapseOne" class="accordion-body collapse in"
					    style="background-color:#F5F5F5">
					      <div class="accordion-inner" style="height: 400px">
					      </div>
                        </div>
                    </div>
                </div>
    		</div>
    		<div class="span9" >
    		  <div class="well" style="height: 420px;">    		  	
    		  </div>
    		</div>
    	</div>
    </div>
{% endblock %}

{% block custom-static %}
{% endblock %}
