{% extends "aca_abshome.html" %}
{% load i18n %}

<!--
Acaua IT Manager is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Acaua IT Manager is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser 
General Public License for more details.

You should have received a copy of the GNU Lesser General Public License along 
with this program. If not, see <http://www.gnu.org/licenses/>.
-->


{%block custom-nav-style %}style="position:fixed; width: 100%; z-index:9999;"
{% endblock %}

{% block custom-navigation %}
    <ul class="nav pull-left">
        <li><a href="{% url "aca_dashboard" %}">{% trans "Dashboard" %}</a></li>
        <li class="active"><a href="{% url "aca_management" %}">{% trans "Management" %}</a></li>
        <li><a href="{% url "aca_reporting" %}">{% trans "Reporting" %}</a></li>
    </ul>                                       
{% endblock %}

{% block custom-body %}
    <div class="container-fluid" 
        style="position: relative; top: 60px; z-index: 0">
        <div class="breadcrumb">
        	<li class="active">
                <b>{% trans "You are here:" %}</b> 
	            <a href="{% url "aca_management" %}">{%trans "Management" %}</a>
	            <span class="divider">&gt;</span>        		
        	</li>
        	{% block custom-management-breadcrumb %}
        	    
        	{% endblock %}
        </div>
        <div class="row-fluid">
            <div class="span12">
                {% block custom-span12 %}                    
                <div class="well">    
                    <h4>{% trans "Service Management" %}</h4>                  
                    <div class="modal-footer" style="text-align: left;">
                        <a class="btn btn-large button" href="javascript:void(0)">                      
                            <div class="button-sla-kinds"></div>
                            {% trans "SLA Kinds"%}
                        </a>
                        <a class="btn btn-large button" href="javascript:void(0)">
                            <div class="button-priorities"></div>
                            {% trans "Priorities"%}
                        </a>
                        <a class="btn btn-large button" href="javascript:void(0)">                      
                            <div class="button-service-levels"></div>
                            {% trans "Service Levels"%}
                        </a>
                        <a class="btn btn-large button" href="javascript:void(0)">
                            <div class="button-pri-matrix"></div>
                            {% trans "Priority Matrix"%}
                        </a>
                        <a class="btn btn-large button" href="javascript:void(0)">                      
                            <div class="button-sla"></div>
                            {% trans "Service Level Agreement"%}
                        </a>
                        <a class="btn btn-large button" href="javascript:void(0)">                      
                            <div class="button-service-catalog"></div>
                            {% trans "Service Catalog"%}
                        </a>
                    </div>
                </div>
                <div class="well">
                    <h4>{% trans "Customer Management" %}</h4>                  
                    <div class="modal-footer" style="text-align: left;">
                        <a class="btn btn-large button" href="{% url "aca_companies" %}">
                            <div class="button-compaines"></div>
                            {% trans "Companies"%}
                        </a>
                        <a class="btn btn-large button" href="javascript:void(0)">
                            <div class="button-customers"></div>
                            {% trans "Customers"%}
                        </a>
                        <a class="btn btn-large button" href="javascript:void(0)">
                            <div class="button-groups"></div>
                            {% trans "Groups"%}
                        </a>
                        <a class="btn btn-large button" href="javascript:void(0)">
                            <div class="button-customer-services"></div>
                            {% trans "Services"%}
                        </a>
                    </div>
                </div>
                <div class="well">
                	<h4>{% trans "Incident Management" %}</h4>                	
                	<div class="modal-footer" style="text-align: left;">
                        <a class="btn btn-large button" href="javascript:void(0)">                      
                            <div class="button-tickets-origin"></div>
                            {% trans "Ticket Origins"%}
                        </a>
                        <a class="btn btn-large button" href="javascript:void(0)">                      
                            <div class="button-tickets-categories"></div>
                            {% trans "Ticket Categories"%}
                        </a>
                        <a class="btn btn-large button" href="javascript:void(0)">                      
                            <div class="button-service-status"></div>
                            {% trans "Ticket Status"%}
                        </a>
                        <a class="btn btn-large button" href="javascript:void(0)">                		
                            <div class="button-tickets"></div>
                            {% trans "Manage Tickets"%}
                        </a>
                        <a class="btn btn-large button" href="javascript:void(0)">
                            <div class="button-queues"></div>
                            {% trans "Queues"%}
                        </a>
                        <a class="btn btn-large button" href="javascript:void(0)">
                            <div class="button-agents"></div>
                            {% trans "Agents"%}
                        </a>
                	</div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}

{% block custom-static %}
{% endblock %}